In [11]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import classification_report

In [66]:
url = 'https://raw.githubusercontent.com/BigDataGal/Python-for-Data-Science/master/titanic-train.csv'

In [88]:
df=pd.read_csv(url)
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [89]:
df.drop(columns=['PassengerId','Name','Ticket','Cabin','Embarked'],inplace=True)
df.head(2)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833

In [83]:
df.shape

(891, 7)

In [90]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [91]:
df.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 48.9+ KB

In [73]:
df.head(2)

   Survived  Pclass     Sex Age  SibSp  Parch     Fare
0         0       3    male   0      1      0   7.2500
1         1       1  female   1      1      0  71.2833

In [93]:
df['Fare'].isna().sum()

0

In [94]:
df['Fare'] = df['Fare'].astype(int)

In [95]:
df['Fare']

0       7
1      71
2       7
3      53
4       8
       ..
886    13
887    30
888    23
889    30
890     7
Name: Fare, Length: 891, dtype: int64

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    int64
dtypes: float64(1), int64(5), object(1)
memory usage: 48.9+ KB

In [97]:
genders = {"male": 0, "female": 1}

In [98]:
df['Sex'] = df['Sex'].map(genders)

In [99]:
df['Sex'].unique()

array([0, 1])

In [100]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch  Fare
0         0       3    0  22.0      1      0     7
1         1       1    1  38.0      1      0    71
2         1       3    1  26.0      0      0     7
3         1       1    1  35.0      1      0    53
4         0       3    0  35.0      0      0     8

In [101]:
df['Age'] = df['Age'].astype(int)

In [102]:
df

     Survived  Pclass  Sex  Age  SibSp  Parch  Fare
0           0       3    0   22      1      0     7
1           1       1    1   38      1      0    71
2           1       3    1   26      0      0     7
3           1       1    1   35      1      0    53
4           0       3    0   35      0      0     8
..        ...     ...  ...  ...    ...    ...   ...
886         0       2    0   27      0      0    13
887         1       1    1   19      0      0    30
888         0       3    1   29      1      2    23
889         1       1    0   26      0      0    30
890         0       3    0   32      0      0     7

[891 rows x 7 columns]

In [105]:
x=df[["Pclass",	"Sex"	,"Age",	"SibSp",	"Parch",	"Fare"]]
x

     Pclass  Sex  Age  SibSp  Parch  Fare
0         3    0   22      1      0     7
1         1    1   38      1      0    71
2         3    1   26      0      0     7
3         1    1   35      1      0    53
4         3    0   35      0      0     8
..      ...  ...  ...    ...    ...   ...
886       2    0   27      0      0    13
887       1    1   19      0      0    30
888       3    1   29      1      2    23
889       1    0   26      0      0    30
890       3    0   32      0      0     7

[891 rows x 6 columns]

In [107]:
y=df['Survived']
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [111]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y, test_size=0.2, random_state=2)

In [112]:
model = LogisticRegression()

In [113]:
model.fit(X_train, Y_train)

LogisticRegression()

In [114]:
X_train_prediction = model.predict(X_train)

In [116]:
from sklearn.metrics import accuracy_score
training_data_accuracy = accuracy_score(Y_train, X_train_prediction)
print('Accuracy score of training data : ', training_data_accuracy)

Accuracy score of training data :  0.8160112359550562

In [117]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(Y_test, X_test_prediction)
print('Accuracy score of test data : ', test_data_accuracy)

Accuracy score of test data :  0.7821229050279329

In [126]:
input_data = (1,	1,	38,	1,	0,	71)

In [127]:
input_data_as_numpy_array = np.asarray(input_data)

In [128]:
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

In [129]:
prediction = model.predict(input_data_reshaped)
#print(prediction)
if prediction[0]==0:
    print("Dead")
if prediction[0]==1:
    print("Alive")

Alive

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

In [130]:
import pickle

pickle.dump(model,open('dicisiontree.pkl','wb'))
df2=pickle.load(open('dicisiontree.pkl','rb'))

In [138]:
input_data = (1,	1,	38,	1,	0,	71)
input_data_as_numpy_array = np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
prediction = df2.predict(input_data_reshaped)
#print(prediction)
if prediction[0]==0:
    print("Dead")
if prediction[0]==1:
    print("Alive")

Alive

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

In [136]:
df.head(2)

   Survived  Pclass  Sex  Age  SibSp  Parch  Fare
0         0       3    0   22      1      0     7
1         1       1    1   38      1      0    71

In [143]:
df['Parch'].unique()

array([0, 1, 2, 5, 3, 4, 6])